.drawerBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.drawerFooter {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.heading {
  padding-left: 16px;
}
