.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diffView {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  height: 400px;
  min-width: 680px;
  width: 880px;
  resize: both;
  overflow: auto;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 24px;
}
